@import '../colors';

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    height: 110px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-top: 1px solid $adamantium;
  }
}
